.hidden {
  display: none;
}

h1 {
  font-family: "Newsreader", serif;
  font-size: 6em;
  color: white;
}

body {
  padding-top: 6em;
  background-image: linear-gradient(white, #000080);
}

.top,
.result {
  text-align: center;
  font-family: "Newsreader", serif;
}

#alertText {
  color: white;
  font-size: 4em;
  text-align: center;
  margin-bottom: 2em;
}

#input {
  font-size: 1.5em;
  border-style: none;
  border-color: #5cabff;
  text-align: center;
  border-radius: 0.3em;
  color: black;
  margin: 2% 0 2% 3%;
}

#input:focus {
  outline: none;
}

#btn {
  position: relative;
  right: 2.5em;
  background-color: white;
  border: none;
  outline: none;
}

#searchIcon {
  font-size: 1.3em;
  color: black;
  padding: 5%;
  cursor: pointer;
}

#cityName {
  font-size: 4em;
  font-family: "Newsreader", serif;
}

#cityName,
.weatherText,
.temp {
  color: white;
}

.weatherText,
.temp {
  font-size: 1.5em;
}

#changeIcon {
  color: white;
  padding: 2% 0;
}

#switch {
  margin-top: 7em;
}

#switchText {
  color: white;
  font-size: 0.8em;
  vertical-align: baseline;
}

.custom-control-input:checked ~ .toggleColor::before {
  background-color: orange;
  border-color: orange;
}

.searchAgain {
  color: white;
  text-align: center;
  font-family: "Newsreader", serif;
  margin: auto;
  transition: all 0.2s ease-in-out;
  display: none;
}

.searchAgain:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.1);
}
